# paper-kernel config
CONFIG_PAPER_KERNEL_MODIFY=y
CONFIG_PAPER_KERNEL_REPO_INTRANET=y
CONFIG_PAPER_KERNEL_REPO_EXTRA_SHELL=y
CONFIG_PAPER_KERNEL_EXTRA=y

# loop default 16 msm-4.4 issuse
CONFIG_BLK_DEV_LOOP_MIN_COUNT=16

# disable software mitigations
# CONFIG_UNMAP_KERNEL_AT_EL0 is not set
# CONFIG_HARDEN_BRANCH_PREDICTOR is not set

# fix msm8998 sdm845 bluetooth issuse
# CONFIG_RT_GROUP_SCHED is not set

# switch msm-4.4 O3 clang make build
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set

# fix android logcat issuse
CONFIG_CPU_FREQ_STAT=y

# disable bfq mq-iosched
# CONFIG_IOSCHED_BFQ is not set

# msm-4.9 backport msm-4.14 msm-4.19 disable blk_wbt
# CONFIG_BLK_WBT is not set

# msm-4.4 and msm-4.9 backport msm-4.14 msm-4.19 enable zram config
CONFIG_ZRAM_MIUI_BACK=y
CONFIG_ZRAM_MIUI_EXTM_EDIT=y
CONFIG_MIUI_ZRAM_MEMORY_TRACKING=y
CONFIG_ZRAM_WRITEBACK=y
CONFIG_PAPER_ZRAM_OPT=y
CONFIG_ZRAM_DEDUP=y

# 0707-add edit
# add: sm8150 xiaomi kernel edit disable audit cmdline
CONFIG_CMDLINE="audit=0 cgroup_disable=pressure"
# end: sm8150 xiaomi kernel edit disable audit cmdline
